/* All elements */ * {
    border: none !important;
    outline: none !important;
    color-scheme: dark;
}

/* Background */ #app {
    background-image: url(https://github.com/Orthestral/nai-glassy-theme/blob/main/media/glassybg.png?raw=true);
    background-size: cover;
    background-position: center;
    padding: 0 5px;
}

/* Chromium scrollbar */ ::-webkit-scrollbar-thumb {
    background-color: #ffffff2a !important
}

/* Menubar container */ #app > div:nth-child(2):not(.conversation) {
    right: 5px;
}

/* Infobar container */ #app > div:nth-child(5) {
    left: 5px;
}

/* Left sidebar */ .menubar,
/* Right sidebar */ .infobar,
/* Conversation/story panel */ .conversation,
/* Module trainer modal */ .module-trainer {
    background-color: #0c0c1088 !important;
    backdrop-filter: blur(20px);
}

/* Firefox-specific code */
@-moz-document url-prefix() {
    /* Modals*/ .modal {
        background-color: #0c0c1088 !important;
        backdrop-filter: blur(20px);
    }
    /* Various modals background */ .modal > div {
        background: transparent !important;
        background-color: #00000000 !important;
    }
}

/* Webkit-specific code */
@supports (background: -webkit-named-image(i)) {
    /* Modals*/ .modal {
        background-color: #0c0c1088 !important;
        backdrop-filter: blur(20px);
    }
    /* Various modals background */ .modal > div {
        background: transparent !important;
        background-color: #00000000 !important;
    }
}

/* Menubar story entry */ .sidebar-story-card,
/* Editor V1 input */ .conversation-input-container:not(.conversation-controls-container > div:last-child),
/* All inputs in modals */ .modal input,
/* All textareas in modals */ .modal textarea,
/* All inputs in large modals (for ai module trainer) */ .modal.modal-large input,
/* All textareas in large modals (for ai module trainer) */ .modal.modal-large textarea,
/* All buttons except for the following */ button:not(
/* Infobar add banned token */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) > div > div:last-child > div:first-child > div > div:last-child > div:first-child > button,
/* Infobar add phrase bias */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:last-child > div:first-child > div:last-child > div:first-child > button,
/* Infobar Memory token count */ .memory-card > div:last-child > div > button,
/* Infobar Author's note token count */ .an-card > div:last-child > div > button,
/* Image generator AI settings and "Generate" buttons */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:last-child button,
/* Image gen mobile "Generate" button */ #__next > div:last-child > div:nth-child(4) > div:last-child > div:last-child > div:last-child > div:nth-child(2) button,
/* Image gen edit/inpaint save button */ #__next > div:last-child > div:nth-child(3) > div > div:first-child > div:last-child > button:nth-child(2),
/* Image gen import buttons */ .line-background-overlay > div:nth-child(2) > div:last-child > button,
/* Image gen director tools transform button */ #__next > div:nth-child(2) > div:nth-child(3) > div:nth-child(3) > div:nth-child(3) > div > div:last-child > div:nth-child(3) > button,
/* Image gen mobile director tools transform button */ #__next > div:nth-child(2) > div:nth-child(3) > div:nth-child(3) > div:nth-child(4) > div:last-child > div:last-child > div > div:nth-child(2) > button,
/* Lorebook update category defaults button */ .lorebook-content > div > div:last-child > div > div:last-child > button,
/* Lorebook category subcontext reset to default button */ .lorebook-content > div > div:last-child > div > div:last-child > div:nth-last-child(3) > button:last-child,
/* Lorebook item placement reset to default button */ .lorebook-content > div > div:last-child > div > div:last-child > div:nth-last-child(4) > button:last-child,
/* Import scenario button */ .modal-large > div > div:last-child > div > button,
/* Llama 3 license accept button */ .modal-large > div > div:last-child > button:nth-child(2),
/* Image gen V4 character positions */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(7) button,
/* Image gen V4 character positions (mobile) */ #__next > div:last-child > div:nth-child(4) > div:last-child > div:nth-child(3) > div:nth-child(2) > div > div > div > div:nth-child(7) button
),
.ProseMirror-focused,
.lorebook-inserted-text,
/* Infobar phrase biases */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:last-child > div:first-child > div:nth-child(3),
/* Infobar stop sequence input */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(4) > div > div:last-child > div:first-child > div,
/* Infobar stop sequence entries */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(4) > div > div:last-child > div:first-child > span > div,
/* Infobar banned tokens */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) > div > div:last-child > div:first-child > div > div:nth-child(3),
/* Infobar banned token input */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) > div > div:last-child > div:first-child > div > div:nth-child(3) > div:first-child,
/* Infobar phrase bias input */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:last-child > div:first-child > div:nth-child(3) > div:first-child,
/* Infobar memory textarea */ .memory-card > div:last-child > div,
/* Infobar author's note textarea */ .an-card > div:last-child > div,
.conversation-heading a,
/* Hypebot container */ .comment-container,
/* Image gen resolution input */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:last-child > div > div:nth-child(2) > div:last-child,
/* Image gen expanded seed input */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:last-child > div > div > div:last-child > div:first-child input,
/* Instruct input */ .conversation .editor2 .ProseMirror > p[source="10"],
/* Tokenizer output */ .modal-compact > div:first-child > div:nth-child(3) > div:first-child > div:nth-child(8),
/* Tokenizer input */ .modal-compact > div > div:last-child > div > textarea,
/* Story settings tag background */ .story-metadata-modal > div:last-child,
/* Settings sidebar */ div.settings-sidebar {
    background-color: #0a0a1055;
    border-radius: 5px;
}

/* New scenario cards */ .scenario-card,
/* Lorebook display name */ input[placeholder="Display Name"] {
    background-color: #0a0a1055 !important;
    border-radius: 5px;
}

/* Text adventure V2 input */ .conversation-input,
/* Text adventure V1 context input */ .adventureInput,
/* Text adventure V1 context input side */ .adventureInput::before,
/* Text adventure V1 context output side */ .adventureStory::before,
/* Text adventure V1 controls side */ .conversation-input-container::before,
/* Text adventure V1 controls container */ .conversation-input-container > div:first-child,
/* Sliders */ .slider {
    background: #0a0a1055 !important;
}

/* Module trainer modal */ .module-trainer {
    background: rgb(21, 21, 21) !important;
}

/* Hypebot container */ .comment-container div {
    background-color: #00000000;
}

/* Modals */ .modal {
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
}

/* Story and controls */ .conversation-main {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
}

/* Conversation/story panel */ .conversation,
/* Modals */ .modal,
/* Changelog image container */ .conversation > div:nth-child(4) > div:first-child:not(.conversation-main) {
    border-radius: 15px;
}

/* Conversation/story panel */ .conversation {
    max-width: 60em !important;
    max-height: 90% !important;
    margin: auto !important;
    padding: 5px 15px 15px 15px !important;
}

/* Hidden conversation title */ .conversation-title > div[style="height: 40px;"] {
    height: 0 !important;
}

/* Infobar "Story" nav button */ .infobar > div:nth-child(2) > div:first-child > div,
/* Menubar header */ .menubar > div:first-child,
/* Select bg */ .select > div:nth-child(3),
/* Infobar lorebook search */ .lorebook-access-card > div:last-child > div > div > div,
/* Image gen textareas */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div textarea,
/* Image gen prompt meter */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(2) > div,
/* Image gen "Undesired Content" header */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(3),
/* Image gen UC meter */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(4) > div {
    background-color: #0a0a1055 !important;
    outline: none !important 
}

/* Image gen "Prompt" header */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:first-child {
    background-color: #0a0a1055;
    border-radius: 0 5px;
}

/* Image gen img2img section */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:last-child {
    background-color: #0a0a1055;
    border-radius: 5px 0;
}

/* All buttons except for the following (hovered) */ button:not(
/* Statistics modal destructive buttons */ .modal > div:first-child > div:nth-child(3) > div:first-child > div:nth-child(2) > div:nth-child(3) > div:first-child > div:nth-child(4) > button,
/* Lorebook delete entry button */ .lorebook-sidebar > div:nth-child(3) > div > div > div > div > button:first-child,
/* Image generator AI settings and "Generate" buttons */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:last-child button,
/* Image gen mobile "Generate" button */ #__next > div:last-child > div:nth-child(4) > div:last-child > div:last-child > div:last-child > div:nth-child(2) button,
/* Text adventure V2 switch button */ .conversation-input button,
/* Image gen edit/inpaint save button */ #__next > div:last-child > div:nth-child(3) > div > div:first-child > div:last-child > button:nth-child(2),
/* Image gen import buttons */.line-background-overlay > div:nth-child(2) > div:last-child > button,
/* Image gen director tools transform button */ #__next > div:nth-child(2) > div:nth-child(3) > div:nth-child(3) > div:nth-child(3) > div > div:last-child > div:nth-child(3) > button,
/* Image gen mobile director tools transform button */ #__next > div:nth-child(2) > div:nth-child(3) > div:nth-child(3) > div:nth-child(4) > div:last-child > div:last-child > div > div:nth-child(2) > button,
/* Lorebook update category defaults button */ .lorebook-content > div > div:last-child > div > div:last-child > button,
/* Lorebook category subcontext reset to default button */ .lorebook-content > div > div:last-child > div > div:last-child > div:nth-last-child(3) > button:last-child,
/* Lorebook item placement reset to default button */ .lorebook-content > div > div:last-child > div > div:last-child > div:nth-last-child(4) > button:last-child,
/* Import scenario button */ .modal-large > div > div:last-child > div > button,
/* Llama 3 license accept button */ .modal-large > div > div:last-child > button:nth-child(2),
/* Image gen V4 character positions */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(7) button,
/* Image gen V4 character positions (mobile) */ #__next > div:last-child > div:nth-child(4) > div:last-child > div:nth-child(3) > div:nth-child(2) > div > div > div > div:nth-child(7) button
):hover,
/* Sidebar categories (hovered) */ .story-list > div:not(sidebar-story-card):hover {
    background-color: #0a0a1077;
    background: #0a0a1077;
}

/* All inputs except for */ input:not(
/* All inputs in modals */ .modal input,
/* All sliders */ .slider,
/* Image gen expanded seed input */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:last-child > div > div > div:last-child > div:first-child input,
/* Lorebook searchbar */ .lorebook-sidebar > div:nth-child(2) > div:first-child > div:nth-child(3) > input
),
/* Menubar account dropdown */ .menubar > div:first-child > div:nth-child(2) > button,
/* Menubar edit story button */ .sidebar-story-card > div:first-child > div:nth-child(3) > div > button,
/* Menubar duplicate story button */ .sidebar-story-card > div:last-child > div:last-child > div > div > button,
/* Menubar edit shelf button */ .menubar > div:nth-child(3) > div:first-child > div:last-child > button,
/* Infobar add stop sequence */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(4) > div > div:last-child > div:first-child > div > button,
/* Modal close button */ .modal-close,
/* Menubar NovelAI logo */ .menubar > div:first-child > div:first-child > button,
/* Infobar inport/export config presets */ .infobar > div:last-child > div:last-child > div:last-child > div > div > div:first-child > div:first-child > div:first-child > div:last-child > button,
/* Infobar Generation Options toggle */ .infobar > div:last-child > div:last-child > div:last-child > div > div > div:nth-child(3) button,
/* Infobar generation sliders dropdown toggle */ .infobar > div:last-child > div:last-child > div:last-child > div > div button:not(.infobar > div:last-child > div:last-child > div:last-child > div > div > div:first-child button),
/* Infobar settings changed dialog background */ .infobar > div:last-child > div:last-child > div:last-child > div > div > div:first-child > div:nth-child(2),
/* Dashboard "Read More" button */ .conversation > div:last-child > div:first-child > div:first-child > div:last-child > div > button:last-child,
/* Dashboard New Story and Import buttons */ .conversation > div:last-child > div:last-child > div > div:first-child > div:last-child > div > button,
/* All textareas except for */ textarea:not(
/* All textareas in modals */ .modal textarea,
/* ??? */ .lorebook-inserted-text,
/* Tokenizer input */ .modal-compact > div > div:last-child > div > textarea
),
/* Menubar story entry */ .sidebar-story-card,
/* Modal overlay */ .modal-overlay,
/* Menubar story status */ .sidebar-story-card > div:nth-child(2),
/* Menubar shelf/stories header */ .menubar > div:nth-child(3),
/* Menubar open settings button */ .menubar > div:first-child > div:nth-child(2) > button,
/* Import file button */ .import-file-button > div > button > div,
/* New shelf button */ .new-shelf-button > button > div,
/* New story button */ .new-story-button > button > div,
/* Menubar edit story button */ .sidebar-story-card > div:first-child > div:nth-child(3) > div > button,
/* Menubar duplicate story button */ .sidebar-story-card > div:last-child > div:last-child > div > div > button,
/* Menubar edit shelf button */ .menubar > div:nth-child(3) > div:first-child > div:last-child > button,
/* Infobar add banned token */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) > div > div:last-child > div:first-child > div > div:last-child > div:first-child > button,
/* Infobar add phrase bias */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:last-child > div:first-child > div:last-child > div:first-child > button,
/* Editor hints */ .comment-tip > div,
/* Editor V1 controls containers */ .conversation-controls-container > div:nth-child(3) > div:first-child,
/* Editor V2 controls containers */ .conversation-controls-container > div:nth-child(2) > div:first-child,
/* Editor V2 mobile secondary controls container */ .conversation-controls-content.conversation-input-container > div:nth-child(3),
.conversation > div:nth-child(3) > div:last-child,
/* Whole Dashboard BG */ .conversation > div:last-child,
/* Dashboard */ .conversation > div:last-child > div:last-child,
/* Text adventure V2 controls */ .conversation-controls,
/* Image gen img2img control buttons container (inactive) */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:last-child > div > div:nth-child(2) > div,
/* Image gen img2img control buttons container (active) */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:last-child > div > div:first-child > div:nth-child(2) > div,
/* Image gen img2img action button containers */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:last-child > div > div:last-child > div,
/* Image gen img2img inpaint button container */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:last-child > div > div:nth-child(2) > div:last-child > div,
/* Image gen resolution swap button */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:last-child > div > div:nth-child(2) > div:last-child > button,
/* Instruct input (Before) */ .conversation .editor2 .ProseMirror > p[source="10"]::before,
/* Opposing prompt textarea */ .infobar > div:last-child  > div:last-child > div:last-child > div > div > div:last-child > button,
/* Story searchbar buttons */ .tts-controls > div:nth-last-child(2) button,
/* Lorebook searchbar buttons */ .lorebook-sidebar > div:nth-child(2) > div:first-child > div:last-child > button,
/* Mobile dashboard background */ .conversation > div:nth-child(4) > div:nth-child(2),
/* Mobile dashboard menu button */ .conversation > div:nth-child(4) > div:first-child > div:first-child > div:first-child > div:first-child > div:first-child > button,
/* Changelog entry title button(s?) */ .modal > div:nth-child(2) > div:nth-child(2) > button[aria-label="back"], .modal > div:nth-child(2) > div:nth-child(2) > button[aria-label="back"] > button,
/* Changelog title button */ .modal > div:nth-child(2) > div:first-child > button[aria-label="back"],
/* Story settings tags background */ .story-metadata-modal > div:last-child > div,
/* Ephemeral context entries */ .modal-compact > div:first-child > div:nth-child(3) > div:first-child > div:nth-child(6) > div {
    background: transparent !important;
    background-color: #00000000 !important;
}

/* Infobar "Story" nav button */ .infobar > div:nth-child(2) > div:first-child > div:first-child,
/* Infobar export "To File" button */ .infobar-export > div > button:first-child,
/* Infobar lorebook search */ .lorebook-access-card > div:last-child > div > div > div {
    border-radius: 5px 0 0 5px !important;
}

/* Infobar "Settings" nav button */ .infobar > div:nth-child(2) > div:first-child > div:last-child,
/* Infobar delete phrase bias group button */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:last-child > div:first-child > div:first-child > div:last-child > button:last-child,
/* Infobar delete banned token group button */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) > div > div:last-child > div:first-child > div > div:first-child > div:last-child > button:last-child,
/* Infobar export story dropdown button */ .infobar-export > div > button:last-child,
/* Infobar open lorebook button */ .lorebook-access-card > div:last-child > div > div > button {
    border-radius: 0 5px 5px 0 !important;
}

/* Infobar add phrase bias group button */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:last-child > div:first-child > div:first-child > div:last-child > button:first-child,
/* Infobar add banned token group button */ .infobar > div:last-child > div:last-child > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) > div > div:last-child > div:first-child > div > div:first-child > div:last-child > button:first-child {
    border-radius: 0 !important;
}

/* Settings nav buttons */ .settings-sidebar > div > button,
/* Image gen image amount buttons */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:last-child > div > div:last-child button,
/* img2img action buttons */ #__next > div:last-child > div:nth-child(4) > div:first-child > div:nth-child(3) > div:nth-child(2) > div > div:last-child > div > div:last-child > div,
/* Ephemeral context entries */ .modal-compact > div:first-child > div:nth-child(3) > div:first-child > div:nth-child(6) > div {
    margin: 2px;
}

/* Settings nav buttons */ .settings-sidebar > div > button {
    margin-right: 20px;
}

/* Delete story button */ .infobar > div:last-child > div:last-child > div:first-child > div > div > div:nth-last-child(2) > div:last-child > button,
/* Delete story confirmation button */ .modal > div:nth-child(2) > div:first-child > button:nth-last-child(2):not(button[aria-label="back"]),
/* Delete shelf button */ .modal > div:first-child > div:nth-child(8) > button:nth-child(3),
/* Statistics modal destructive buttons */ .modal > div:first-child > div:nth-child(3) > div:first-child > div:nth-child(2) > div:nth-child(3) > div:first-child > div:nth-child(4) > button,
/* Delete shelf button (right click) */ .modal-compact > div:first-child > div:nth-child(3) > div:first-child > button:nth-child(2) {
    background-color: #FFA5A5 !important;
}

/* Text adventure V2 switch button */ .conversation-input button,
/* Infobar export "To File" button icon */ .infobar-export > div > button:first-child > div,
/* Regular modal close buttons */ .modal-header .modal-close,
/* Compact modal close buttons */ .modal-compact > div > div:first-child > button,
/* TTS settings buttons */ .settings-content > div:nth-child(2) > div:nth-child(8) button > div {
    background-color: #c2d5ff !important;
}

/* Infobar export "To File" button text */ .infobar-export > div > button:first-child,
/* Story scenario fill placeholders/start button */ .modal > div:first-child > div:first-child > div:last-child > div:last-child > button:last-child {
    color: #c2d5ff;
}

/* Send button text */ .button.send:hover > div > span {
    color: #bb9af7 !important;
}

/* Send button icon */ .button.send:hover > div > div {
    background: #bb9af7 !important;
}

/* Editor V1 controls containers */ .conversation-controls > div {
    height: 80%;
}

/* Shelf icons */ .svg-color-bg1.svg-fill {
    fill: #0a0a1077;
}

/* Shelf icons stroke */ .svg-color-textMain-20.svg-stroke {
    stroke: #ffffff22;
}

/* Story searchbar */ .tts-controls > div:nth-last-child(2),
/* Menubar shelf searchbar */ .menubar > div:nth-child(3) > div:first-child > div:nth-child(3) {
    background-color: #191922;
    background: #191922;
    opacity: 1;
    border-radius: 5px;
}
